<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block metatitle %}{% endblock %}</title>
    <link href="{{ asset('css/style.css') }}" rel="stylesheet"/>
</head>
<body>

<header>
    
    <h1>Mon super blog</h1>

    <nav>
        <ul>
            <li> <a href="{{ path("home") }}">Home</a></li>
            <li><a href="{{ path("pokemon_list") }}">Liste Pokémon</a></li>
            <li><a href="{{ path("pokemon_list_db") }}">Liste Pokémon DB</a></li>
            <li><a href="{{ path("pokemon_categories") }}">Couleurs</a></li>
            <li><a href="{{ path("poker") }}">Poker</a></li>
            <li><a href="{{ path("products") }}">Produits</a></li>
        </ul>
    </nav>
</header>

{% block body %}{% endblock %}

<footer>
    <p>	Lorem corp &#169;</p>
</footer>


</body>
</html>